// app global css in SCSS form
@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/font/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/font/AlegreyaSans-Bold.ttf");
  font-weight: bold;
}

p {
  color: rgb(24, 22, 22);
  line-height: 1.4;
  margin-bottom: 30px;
  //   font-family: "Georgia", Times, serif;
}

.text-body1 {
  text-align: left;
  font-size: 150%;
}
